body {
    background: url(../img/bg.jpg) center repeat-y;
    margin: 0;
}

h2 {
    color: #5ac846;
    margin: 1px 0 0 0;
    font-size: 22px;
    text-align: center;
}

.clear {
    margin-top: 20px;
    clear: both;
}



#menu-box {
    width: 650px;
    margin: 40px auto 0 auto;
}

#menu-box a {
    float: left;
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 10px 10px 0;
    text-align: right;
    padding: 10px 10px 0 0;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.users {
    background: #ccf0ca url(../img/users.png) left bottom no-repeat;
}

.activity {
    background: #ccf0ca url(../img/activity.png) left bottom no-repeat;
}

.universal {
    background-color: #ccf0ca;
}

#menu-box a:hover {
    background-color: #5ac846;
}

.nav {
    background: url(../img/left-arrow.png) left no-repeat;
    padding-left: 38px;
    margin-left: 50px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.nav:hover {
    text-decoration: underline;
}

#page {
    width: 960px;
    margin: 0 auto;
}

#login-panel-cont {
    background-color: #5ac846;
    width: 960px;
    height: 30px;
}

#login {
    float: right;
    margin: 5px 10px 0 0;
    color: #ccf0ca;
}

#login a {
    color: #ccf0ca;
    text-decoration: none;
}

#login a:hover {
    color: black;
}

#title {
    float: left;
    margin: 1px 0 0 73px;
    color: #ccf0ca;
    font-size: 22px;
}

#logo {
    position: absolute;
    top: 10px;
    left: 30px;
}

#header {
    width: 960px;
    height: 200px;
    position: relative;
}

#logo-title {
    position: absolute;
    top: 50px;
    left: 400px;
    font-size: 17px;
}

.highlight {
    color: #5ac846;
    font-weight: bold;
}

.title-line2 {
    margin: 2px 0 0 120px;
}
.title-line3 {
    margin: 2px 0 0 245px;
}

.list {
    margin-top: 25px;
}

.list table {
    width: 70%;
    margin: 0 auto;
}

.list table td {
    text-align: center;
    border: 1px solid black;
}

.list table th {
    background-color: #ccf0ca;
    padding: 2px;
}

.new form {
    margin: 36px 65px 0 65px;
}

.new legend {
    padding: 0 13px;
    font-style: italic;
    font-size: 17px;
}

.list a {
    padding: 0 6px;
    text-decoration: none;
    color: black;
}

.list a:hover {
    text-decoration: underline;
}

.userTitle {
    text-align: center;
    font-weight: bold;
}

.messages {
    position: absolute;
    border: 1px solid darkgreen;
    background-color: lightgreen;
    left: 306px;
    top: -37px;
    padding-right: 5px;
}

#content {
    position: relative;
}

.login-box {
    position: relative;
    width: 340px;
    height: 130px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ccf0ca;
}

.login-box .submit {
    padding: 3px 20px;
    margin: 12px auto 0 auto;
    display: block;
}

.login-box table {
    padding-top: 10px;
    margin: 20px auto 0 auto;
}

.login-table {
    margin: 0 auto;
}